.position-carusel-container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 40rem;
  width: 100%;
  background: url("https://c.tenor.com/iU30VZVP4_cAAAAM/calatop-black-hole-black-hole.gif");
  background-size: 100% 100%;
  margin-bottom: 10rem;
}
.position-carusel-main-img-container {
  animation: 0.5s linear 0s infinite running droz;
  position: absolute;
  z-index: 15;
  top: calc(50% - 15rem);
  left: calc(50% - 15rem);
  width: 30rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.position-carusel-main-img-container img {
  animation: 0.5s linear 0s infinite running serdce;
  width: 20rem;
  height: 20rem;
}
.position-carusel-planet-img img {
  width: 100%;
  height: 100%;
}
.position-carusel-planet-img {
  width: 8rem;
  height: 8rem;
  transition: all 5s linear;
  position: absolute;
}

.position-carusel-planet-img.center {
  top: calc(50% + 1rem);
  left: calc(50% - 7rem);
  z-index: 25;
}
.position-carusel-planet-img.left {
  top: calc(50% - 13rem);
  left: 20%;
  z-index: 23;
  width: 6rem;
  height: 6rem;
}
.position-carusel-planet-img.right {
  top: calc(50% - -7rem);
  left: calc(80% - 8rem);
  width: 6rem;
  height: 6rem;
  z-index: 23;
}
.position-carusel-planet-img.behind {
  width: 0rem;
  height: 0rem;
  top: calc(50% - 4rem);
  left: calc(50% - 4rem);
  z-index: 0;
}
@keyframes droz {
  0% {
    transform: translateX(0.1rem);
    transform: translateY(-0.1rem);
  }
  25% {
    transform: translateX(-0.1rem);
    transform: translateY(0.1rem);
  }
  75% {
    transform: translateX(0.1rem);
    transform: translateY(0.1rem);
  }
  100% {
    transform: translateX(0.1rem);
    transform: translateY(-0.1rem);
  }
}
@keyframes serdce {
  0% {
    width: 21rem;
    height: 21rem;
  }
  25% {
    width: 20rem;
    height: 20rem;
  }
  75% {
    width: 21rem;
    height: 21rem;
  }
  100% {
    width: 20rem;
    height: 20rem;
  }
}
