<p><input type="text" #username /></p>

<button type="button" class="btn">Clickme</button>
<div
  class="toDo-card-container"
  *ngFor="let element of toDoListArray; let i = index"
>
  <div class="toDo-card-name">{{ element }}</div>
  <div class="toDo-card-button-container">
    <button class="toDo-card-cancel-btn btn">cancel</button>
    <input type="text" #changeData /><button class="toDo-card-change-btn btn">
      change
    </button>
  </div>
</div>
<!-- (click)="showInput(i)" -->
<!-- *ngIf="i == isInput" -->
<!-- (click)="deleteValueInTaskArray(i)" -->
<!-- *ngIf="i != isInput" -->
<!--  -->
<!-- (click)="addValueToToDoArray(username.value); username.value = ''" -->
<!-- {{ doing.name }} -->
